Package: me.kritanta.iconoclast
Name: Iconoclast
Version: 1.0
Architecture: iphoneos-arm
Description: Easily customizable icon layout framework based on Iconoclasm
Maintainer: Kritanta <kritanta@openpack.io>
Author: Kritanta <kritanta@openpack.io>
Section: Tweaks
Pre-Depends: mobilesubstrate
Depends: firmware (>= 4.3), preferenceloader
